.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
  }


  :host {
    --midnight-green: #114b5f;
    --sea-green: #1a936f;
    --celadon: #88d498;
    --tea-green: #c6dabf;
    --parchment: #f3e9d2;
    --white: #ffffff;
    --light-text: #f0f0f0;
  }